.reviews {
  &__row:nth-child(1) {
    position: relative;

    @include md {
      @include row;
      justify-content: center;
    }
  }

  &__title {
    position: relative;
    padding: 60px 0;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      background-color: $c-bg-6;
      width: 45px;
      height: 4px;
      right: 50%;
      margin-right: -17px;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    @include md {
      padding: 110px 0;
      @include col(2/3);
    }
  }

  &__text-title {
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    @include lg {
      margin: 0;
    }

    @include xxl {
      font-size: 26px;
      line-height: 26px;
    }
  }

  &__text-discription {
    margin-top: 25px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;

    @include xxl {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__video-wrapper {
    position: relative;

    @include lg {
      @include col(3/5);
    }

    @include xl {
      @include col(2/3);
    }
  }

  &__svg-play,
  &__svg-circle {
    display: block;
    position: absolute;
    fill: none;
  }

  &__svg-play {
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;

    @include md {
      margin-top: -30px;
      margin-left: -30px;
    }
  }

  &__svg-circle {
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -60px;

    @include md {
      width: 160px;
      margin-left: -90px;
    }
  }

  &__video-text {
    display: none;
    position: absolute;
    color: $c-font-1;
    font-weight: 300;
    top: 50%;
    left: 50%;
    margin-top: 90px;
    margin-left: -80px;

    @include md {
      display: block;
    }
  }

  &__button-next {
    position: relative;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    right: -10px;
    bottom: 15%;
    width: 14px;
    height: 55px;

    @include md {
      margin-top: -56px;
      right: 0;
    }

    @include lg {
      top: 50%;
      margin-top: -56px;
      right: 10px;
      width: 28px;
      height: 115px;
    }

    @include lg {
      right: -10px;
    }

    @include xxl {
      right: -15px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 4px;
      height: 30px;
      left: 30%;
      background-color: $c-bg-10;
      border-radius: 5px;

      @include lg {
        width: 7px;
        height: 62px;
      }
    }

    &::before {
      top: 0;

      transform: rotate(-20deg);
    }
    &::after {
      bottom: 0;

      transform: rotate(20deg);
    }
  }

  &__row:nth-child(2) {
    position: relative;
    padding: 100px 0;

    @include lg {
      @include row;
      padding: 175px 0 200px;
      align-items: center;
    }
  }

  &__video {
    // display: block;
    width: 100%;
  }

  &__text {
    @include lg {
      @include col(2/5);
    }

    @include xl {
      @include col(1/3);
    }
  }
}
