mixin reasons 
  section.reasons 
    .container 
      h2.reasons__title причин работать с нами
      svg(class="reasons__title-svg" xmlns="http://www.w3.org/2000/svg" width="236" height="323.03" viewBox="0 0 236 323.03")
        path(d="M755.253,4776.98L824.237,4677H740.73l-97.123,147.03c-11.8,17.65-18.607,39.82-18.607,64.25,0,65.6,47.653,111.75,118,111.75,69.892,0,118-46.15,118-111.75C861,4826.75,818.337,4781.96,755.253,4776.98ZM743,4932.16c-24.508,0-45.384-15.83-45.384-43.88s20.876-43.89,45.384-43.89c24.054,0,45.384,16.29,45.384,43.89S767.053,4932.16,743,4932.16Z" transform="translate(-625 -4677)")
      ul.reasons__list 
