.container {
  margin: 0 auto;
  display: block;

  padding-left: $grid-gutter;
  padding-right: $grid-gutter;

  @include sm {
    max-width: 630px + 2 * $grid-gutter;
  }

  @include md {
    max-width: 870px + 2 * $grid-gutter;
  }

  @include lg {
    max-width: 1050px + 2 * $grid-gutter;
  }

  @include xl {
    max-width: 1280px + 2 * $grid-gutter;
  }

  @include xxl {
    max-width: 1600px + 2 * $grid-gutter;
  }
}
