mixin hero 
  section.hero 
    .hero__wrapper
      .container
        .hero__text
          h1.hero__title Новый уровень вашего бизнеса
          p.hero__description Стратегия, UI / UX дизайн, разработка, seo для торговых марок премиум-класса  