mixin footer 
  footer.footer 
    .footer__contacts
      .container
        .footer__contacts-row
          h2.footer__contacts-title Вы уже хотите пообщаться с нами?
          p.footer__contacts-email hello@iwant.com
          p.footer__contacts-phone 8 (800) 600 90 90

    .footer__social 
      .container 
        ul.footer__social-list 
          li.footer__social-item
            a.footer__social-link.footer__social-link--behance(href="#")
          li.footer__social-item
            a.footer__social-link.footer__social-link--dribbble(href="#")
          li.footer__social-item
            a.footer__social-link.footer__social-link--vk(href="#")
          li.footer__social-item
            a.footer__social-link.footer__social-link--fb(href="#")      