$c-bg-1: #ffffff;
$c-bg-2: #000000;
$c-bg-3: #a4b0ba;
$c-bg-4: #303030;
$c-bg-5: #f1f2f2;
$c-bg-6: #e74c3c;
$c-bg-7: #222222;
$c-bg-8: #8d8581;
$c-bg-9: #d3d3d3;
$c-bg-10: #e6e6e6;

$c-bg-project-1: #bdcbd7;
$c-bg-project-2: #f7cf00;
$c-bg-project-3: #ffffff;

$c-font-1: #ffffff;
$c-font-2: #000000;
$c-font-3: #e74c3c;

$c-bg-gradient-1: linear-gradient(rgb(40, 176, 247), rgb(87, 215, 130));
