mixin projects 
  section.projects#projects 
    ul.projects__list 
      li.projects__item.projects__item--gazprom
        img(class="projects__item-img projects__item-img--gazprom" src="/img/projects-site.png" alt="")
        .projects__item-wrapper.container
          .projects__row.projects__row--gazprom
            .projects__text.projects__text--gazprom
              h3.projects__item-title ПАО «Газпром»
              p.projects__item-description Веб-сайт 
              button.button.projects__item-button(href="#") Смотреть проект
                svg(xmlns="http://www.w3.org/2000/svg" width="30" height="8" viewBox="0 0 30 8")
                  path(fill='#000000' d="M1042.01,4609.3h22.21c-1.07-1.3-1.6-2.15-1.66-3.31,2.44,2,5.6,3.03,9.43,4.01a25.016,25.016,0,0,0-9.43,4,6.352,6.352,0,0,1,1.7-3.39h-22.25v-1.31Z" transform="translate(-1042 -4606)")


      li.projects__item.projects__item--tinkoff
        img(class="projects__item-img projects__item-img--tinkoff" src="/img/projects-phone.png" alt="")
        .projects__item-wrapper.projects__item-wrapper--tinkoff.container
          .projects__row.projects__row--tinkoff
            .projects__text.projects__text--tinkoff
              h3.projects__item-title Тинькофф Банк
              p.projects__item-description Брендинг
              p.projects__item-description UI/UX дизайн
              p.projects__item-description Разработка мобильного приложения для IOS 
              p.projects__item-description Веб-сайт 
              button.button.projects__item-button(href="#") Смотреть проект
                svg(xmlns="http://www.w3.org/2000/svg" width="30" height="8" viewBox="0 0 30 8")
                  path(fill='#000000' d="M1042.01,4609.3h22.21c-1.07-1.3-1.6-2.15-1.66-3.31,2.44,2,5.6,3.03,9.43,4.01a25.016,25.016,0,0,0-9.43,4,6.352,6.352,0,0,1,1.7-3.39h-22.25v-1.31Z" transform="translate(-1042 -4606)")



      li.projects__item.projects__item--adidas
        img(class="projects__item-img projects__item-img--adidas" src="/img/projects-monitor.png" alt="" ).projects__item-img
        .projects__item-wrapper.container
          .projects__row
            .projects__text.projects__text--adidas
              h3.projects__item-title Adidas
              p.projects__item-description Веб-сайт 
              p.projects__item-description Разработка мобильного приложения для IOS и Windows
              button.button.projects__item-button(href="#") Смотреть проект 
                svg(xmlns="http://www.w3.org/2000/svg" width="30" height="8" viewBox="0 0 30 8")
                  path(fill='#000000' d="M1042.01,4609.3h22.21c-1.07-1.3-1.6-2.15-1.66-3.31,2.44,2,5.6,3.03,9.43,4.01a25.016,25.016,0,0,0-9.43,4,6.352,6.352,0,0,1,1.7-3.39h-22.25v-1.31Z" transform="translate(-1042 -4606)")
